.badge {
  display: inline-flex;
  gap: 2px;
  align-items: center;
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-full);
  font-size: 0.75rem;
  font-weight: 500;
}

.default {
  background: var(--background-lightest);
  color: var(--foreground);
}

.primary {
  background: color-mix(in srgb, var(--primary) 15%, transparent);
  color: var(--primary-lightest);
}

.today {
  background: var(--primary);
  color: var(--foreground-lightest);
}
